body {
}
.card {
    border: 1px solid #ddd;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card-body h6 {
    text-align: center;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 100%;
    height: contain;
}

.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col-md-4, .col-md-8, .col-md-6 {
        text-align: center;
    }
}
/*test*/
.no-underline {
    text-decoration: none;
}
